.main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffc700;
}

.navbar {
  width: 100vw;
  background-color: #4720b9;
  border-radius: 0px 0px 8px 8px;
}

.nav-text {
  padding: 1rem;
  color: white;
  line-height: 1.4rem;
  text-align: center;
}

.nline-1 {
  font-size: 1.5rem;
  font-weight: 900;
}

nline-1 {
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .nav-text {
    padding: 0.8rem;
    color: white;
    line-height: 1.4rem;
    text-align: center;
  }

  .nline-1 {
    font-size: 1.2rem;
    font-weight: 900;
  }

  nline-1 {
    font-size: 0.5rem;
  }
}

.left-side {
  width: 45%;
  margin-left: 5%;
  color: #4720b9;
  margin-top: 5rem;
}

.main-text {
  font-size: 2.5rem;
  letter-spacing: 0.8px;
}

.sub-text {
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.signup {
  background-color: #f34e1e;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 25%;
  border-radius: 8px;

  margin: 1.5rem;
  margin-left: 0rem;
}

.login {
  background-color: #f34e1e;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 25%;
  border-radius: 8px;
}


