.momain-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffc700;
}

.orange-bars {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Table CSS Starts */
.table-container {
  color: #4720b9;
  margin-top: 3rem;
  width: 100vw;
  margin-left: 0vw;
}

#mview {
  border: none;
  width: 100%;
}

#mview td {
  border: none;
  padding: 8px;
  color: #4720b9;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

#mview th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 1.4rem;
  color: #4720b9;
}

/* Table CSS Ends */

/* Table CSS Smaller Devices Starts*/

@media only screen and (max-width: 720px) {
  .table-container {
    color: #4720b9;
    margin-top: 2rem;
    width: 98vw;
    margin-left: 1vw;
  }

  #mview {
    border: none;
    width: 100%;
  }

  #mview td {
    border: none;
    padding: 0.3rem;
    color: #4720b9;
    text-align: center;
    white-space: nowrap;
    font-size: 0.68rem;
  }

  #mview th {
    font-weight: 900;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 0.8rem;
    color: #4720b9;
  }
}

/* Table CSS Smaller Devices Ends*/

.eimage{
  width: 2.25rem;
}

@media only screen and (max-width: 720px) {
  .eimage {
    width: 1.55rem;
  }
}
