.fpbody-container {
  margin-top: 3rem;
}

.fpheader {
  background: var(--secondary);
  color: var(--white);
  padding: 1rem;
  font-size: 1.2rem;
  width: 15vw;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .fpheader {
    background: var(--secondary);
    color: var(--white);
    padding: 1rem;
    font-size: 1rem;
    width: 40vw;
  }
}

.textfields{
    margin: 2rem;
    margin-left: 25vw;
    
}
