.purplebox{ 
    width: 100%; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--tertiary); 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

.contents{
    padding: 20px;
    padding-left: 26px;
    width: 202px;
    height: 60px;
    overflow: hidden;
}

.title{
    color: #FFFFFF; 
    font-size: 26px; 
    height: 28px; 
    font-weight: bold;
}

.subtitle{ 
    font-size: 16px; 
    font-weight: bold;
}

.logout{
    padding: 28px;
    padding-right: 26px; 
}