.side-header {
  border-radius: 0px 5px 5px 0px;
  font-size: 1.5rem;
  color: white;
  background-color: #f34e1e;
  width: 9rem;
  padding: 0.2rem;
  padding-left: 4.5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 720px) {
  .side-header {
    font-size: 1.1rem;
    color: white;
    background-color: #f34e1e;
    width: 6rem;
    padding: 0.2rem;
    padding-left: 3rem;
    margin-top: 2rem;
  }
}
