.side-header {
    border-radius: 0px 5px 5px 0px;
    font-size: 1.5rem;
    color: white;
    background-color: #f34e1e;
    width: 10rem;
    padding: 0.2rem;
    padding-left: 5rem;
    margin-top: 1rem;
  }
  