.login-textfield-container{
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
    width: 800px;
    max-width: 100%;
}

input[type="login-textfield"]{
    display: flex;
    max-width: 100%;
    height: 56px;
    margin-top: 20px;
    border: 3px solid var(--secondary);
    border-radius: 14px;
    background-color: var(--tertiary);
    outline: none;
    padding: 0px 15px 0px 15px;
    color: var(--white);
    font-size: 19px;
}

input[type="textfield"]:focus{
    border: 3px solid var(--secondary);
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--white);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--white);
}

.label{
    padding-left: 3px;
    color: var(--tertiary);
    font-size: 19px;
}

@media only screen and (max-width: 600px) {
    input[type="textfield"]{
        height: 44px;
        font-size: 15px;
    }
    .label{
        font-size: 15px;
    }
  }