.purple-container {
    background-color: var(--tertiary);
    border-radius: 30px;
    height: 76vh;
    width: 600px;
    max-width: 98%;
    position: absolute;
    right: -26px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .purple-container {
        position: relative;
        right: 0px;
    }
  }

