.textfield-container{
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 750px;
}

input[type="textfield"]{
    display: flex;
    width: 750px;
    height: 48px;
    margin-top: 2px;
    border: 3px solid var(--secondary);
    border-radius: 13px;
    background-color: var(--primary);
    outline: 0;
    padding: 0px 15px 0px 15px;
    color: var(--tertiary);
    font-size: 19px;
}

input[type="textfield"]:focus{
    border: 3px solid var(--tertiary);
}

.label{
    padding-left: 3px;
    color: var(--tertiary);
    font-size: 19px;
}