.uhmain-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffc700;
}

.welcome {
  text-align: center;
  margin-top: 2rem;
  color: #4720b9;
  line-height: 1.6rem;
}

.welcome-name {
  font-size: 1.7rem;
}

@media only screen and (max-width: 720px) {
  .welcome {
    text-align: center;
    margin-top: 1.5rem;
    color: #4720b9;
    line-height: 1.6rem;
  }

  .welcome-name {
    font-size: 1.5rem;
  }

  .tagline {
    font-size: 0.9rem;
  }
}

.create-btn {
  background-color: #f34e1e;
  border: none;
  color: white;
  margin-top: 0.75rem;
  padding: 0.4rem;
  border-radius: 5px;
  width: 8rem;
  font-weight: 900;
}

