/* NavBar CSS Starts */

.main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffc700;
}

.navbar-home {
  color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  background-color: #4720b9;
  border-radius: 0px 0px 8px 8px;
}

.lefttext {
  padding: 1.3rem;
  line-height: 1.1rem;
  padding-left: 1.4rem;
}

.line-one {
  font-size: 1.2rem;
}

.righttext {
  font-weight: 900;
  padding: 1.5rem;
  padding-right: 2rem;
  font-size: 1.1rem;
}

/* NavBar CSS Ends */

/* NavBar CSS for smaller devices Starts*/
@media only screen and (max-width: 720px) {
  .line-one {
    font-size: 1.1rem;
  }
  .line-two {
    font-size: 0.9rem;
  }

  .righttext {
    font-size: 1rem;
  }
}
/* NavBar CSS for smaller devices Ends*/
